<layout>
  <container.container session=input.session>
    <h1>Home</h1>
    <aside>
      A small example to test CSS syntax errors in VS Code
    </aside>
  </container>
</layout>

style {
  .container {
    & h1 {
      color: #ff6666;
      font-size: 60px;
    }
  }
}